--with-aix-soname=both
--with-sysroot
--with-ldap-lib=ldap
--with-lber-lib=lber
--with-random
--with-libssh2
--with-wolfssh
--without-brotli
--with-zstd
--without-libidn2
--with-default-ssl-backend=openssl
--without-winssl
--without-darwinssl
--without-amissl
--with-secure-transport
--with-ssl
--without-gnutls
--without-mbedtls
-without-wolfssl
--without-mesalink
--without-ca-path
--with-libmetalink
--without-nghttp2
--with-ngtcp2
--without-nghttp3
--with-zsh-functions-dir
--with-fish-functions-dir
--disable-largefile
--disable-silent-rules
--disable-debug
--disable-optimize
--disable-warnings
--disable-curldebug
--disable-hidden-symbols
--disable-ares
--enable-dependency-tracking
--enable-http
--enable-ftp
--disable-ldaps
--enable-rtsp
--disable-proxy
--enable-dict
--enable-tftp
--disable-imap
--disable-smb
--enable-manual
--disable-libcurl-option
--enable-openssl-auto-load-config
--enable-versioned-symbols
--disable-threaded-resolver
--enable-pthreads
--disable-verbose
--disable-crypto-auth
--disable-ntlm-wb
--disable-unix-sockets
--enable-cookies
--disable-socketpair
--enable-http-auth
--enable-doh
--enable-dateparse
--disable-hsts
--enable-code-coverage