--with-aix-soname=svr4
--with-aix-soname=both
--with-ldap-lib=ldap
--with-lber-lib=lber
--with-random
--with-wolfssh
--with-gssapi-includes=/usr/include
--with-gssapi
--without-brotli
--with-libidn2
--without-default-ssl-backend
--without-winssl
--with-darwinssl
--with-amissl
--with-schannel
--with-secure-transport
--without-ssl
--without-gnutls
--with-nss
--with-bearssl
--with-mesalink
--without-winidn
--with-librtmp
--without-ca-path
--with-ngtcp2
--with-zsh-functions-dir
--without-fish-functions-dir
--without-libgsasl
--disable-rt
--disable-largefile
--enable-silent-rules
--enable-debug
--enable-symbol-hiding
--enable-ares
--enable-ech
--enable-dependency-tracking
--enable-http
--enable-file
--enable-ldap
--enable-ldaps
--enable-rtsp
--disable-proxy
--disable-telnet
--enable-tftp
--disable-pop3
--enable-imap
--enable-smb
--disable-smtp
--enable-gopher
--enable-mqtt
--enable-manual
--disable-libcurl-option
--enable-versioned-symbols
--disable-threaded-resolver
--enable-verbose
--enable-crypto-auth
--enable-ntlm-wb
--enable-tls-srp
--enable-unix-sockets
--disable-cookies
--enable-socketpair
--enable-http-auth
--disable-mime
--disable-netrc
--enable-progress-meter
--disable-dnsshuffle
--disable-get-easy-options
--enable-libgcc
