--with-gnu-ld
--with-sysroot
--with-ldap-lib=ldap
--with-lber-lib=lber
--with-random
--with-libssh2
--with-wolfssh
--with-zlib
--with-zstd
--without-libidn2
--with-winssl
--with-darwinssl
--with-amissl
--without-schannel
--without-ssl
--without-gnutls
--without-nss
--with-mbedtls
--with-wolfssl
--with-mesalink
--with-winidn
--with-librtmp
--without-ca-fallback
--without-libmetalink
--without-nghttp2
--with-ngtcp2
--with-nghttp3
--with-zsh-functions-dir
--without-libgsasl
--disable-rt
--disable-largefile
--enable-silent-rules
--enable-optimize
--disable-warnings
--enable-curldebug
--enable-symbol-hiding
--enable-maintainer-mode
--disable-ares
--disable-dependency-tracking
--disable-http
--disable-ftp
--enable-file
--disable-rtsp
--disable-proxy
--disable-dict
--disable-telnet
--enable-tftp
--disable-pop3
--enable-imap
--disable-smb
--enable-smtp
--enable-mqtt
--disable-libcurl-option
--enable-ipv6
--disable-openssl-auto-load-config
--disable-versioned-symbols
--enable-verbose
--enable-crypto-auth
--enable-ntlm-wb
--enable-tls-srp
--enable-unix-sockets
--disable-cookies
--enable-socketpair
--disable-http-auth
--disable-doh
--enable-mime
--enable-netrc
--enable-dnsshuffle
--enable-get-easy-options
--enable-hsts
--enable-hidden-symbols
--enable-code-coverage
--enable-libgcc
