--with-aix-soname=aix
--with-aix-soname=both
--with-gnu-ld
--with-egd-socket
--with-libssh2
--with-gssapi-includes=/usr/include
--with-gssapi
--with-brotli
--with-zstd
--without-winssl
--with-amissl
--without-ssl
--with-gnutls
-without-wolfssl
--without-bearssl
--without-winidn
--without-librtmp
--without-ca-bundle
--without-ca-path
--with-libmetalink
--with-nghttp2
--with-ngtcp2
--without-nghttp3
--with-zsh-functions-dir
--without-fish-functions-dir
--without-libpsl
--disable-largefile
--disable-libtool-lock
--disable-silent-rules
--disable-debug
--enable-warnings
--disable-curldebug
--enable-symbol-hiding
--enable-ares
--disable-dependency-tracking
--enable-http
--enable-ftp
--enable-file
--disable-ldaps
--enable-rtsp
--disable-proxy
--enable-dict
--disable-telnet
--enable-tftp
--disable-pop3
--enable-imap
--enable-smb
--enable-smtp
--enable-mqtt
--disable-manual
--enable-libcurl-option
--disable-ipv6
--disable-openssl-auto-load-config
--enable-versioned-symbols
--enable-verbose
--enable-crypto-auth
--enable-ntlm-wb
--disable-tls-srp
--disable-cookies
--enable-socketpair
--enable-http-auth
--enable-dateparse
--disable-netrc
--enable-dnsshuffle
--disable-get-easy-options
--enable-hsts
--enable-hidden-symbols
--enable-libgcc
