--with-aix-soname=aix
--with-lber-lib=lber
--with-wolfssh
--with-gssapi-includes=/usr/include
--with-zlib
--with-brotli
--without-zstd
--with-libidn2
--without-default-ssl-backend
--with-winssl
--without-darwinssl
--with-amissl
--without-secure-transport
--without-gnutls
-without-wolfssl
--with-bearssl
--with-winidn
--without-ca-path
--with-libmetalink
--without-nghttp2
--without-ngtcp2
--with-nghttp3
--with-zsh-functions-dir
--without-fish-functions-dir
--enable-silent-rules
--disable-debug
--disable-warnings
--disable-curldebug
--disable-symbol-hiding
--disable-hidden-symbols
--enable-ares
--disable-dependency-tracking
--enable-http
--enable-ftp
--disable-file
--disable-ldap
--enable-proxy
--disable-dict
--disable-telnet
--disable-tftp
--enable-pop3
--enable-smb
--enable-smtp
--disable-mqtt
--disable-manual
--enable-libcurl-option
--enable-ipv6
--enable-openssl-auto-load-config
--disable-versioned-symbols
--enable-pthreads
--enable-verbose
--disable-crypto-auth
--disable-ntlm-wb
--enable-unix-sockets
--disable-socketpair
--enable-http-auth
--enable-mime
--enable-dateparse
--disable-netrc
--disable-progress-meter
--disable-dnsshuffle
--enable-code-coverage
