--with-aix-soname=aix
--with-aix-soname=svr4
--with-aix-soname=both
--with-sysroot
--with-ldap-lib=ldap
--with-lber-lib=lber
--with-wolfssh
--with-gssapi-libs
--without-brotli
--without-zstd
--with-default-ssl-backend=openssl
--without-winssl
--with-amissl
--with-secure-transport
--with-ssl
--without-mbedtls
--without-bearssl
--without-mesalink
--without-winidn
--with-ca-fallback
--without-ca-bundle
--without-libmetalink
--without-nghttp2
--with-ngtcp2
--without-nghttp3
--with-fish-functions-dir
--without-libgsasl
--disable-largefile
--disable-libtool-lock
--enable-silent-rules
--enable-debug
--disable-optimize
--enable-curldebug
--enable-symbol-hiding
--enable-ares
--disable-ech
--enable-http
--enable-ftp
--disable-file
--enable-ldap
--disable-ldaps
--disable-proxy
--disable-dict
--disable-tftp
--disable-pop3
--enable-imap
--enable-smtp
--disable-gopher
--disable-manual
--enable-ipv6
--disable-threaded-resolver
--disable-verbose
--enable-crypto-auth
--disable-ntlm-wb
--enable-tls-srp
--disable-unix-sockets
--enable-cookies
--enable-socketpair
--disable-http-auth
--enable-doh
--enable-mime
--disable-netrc
--disable-progress-meter
--disable-dnsshuffle
--enable-get-easy-options
--enable-alt-svc
--disable-hsts
--enable-hidden-symbols
--enable-code-coverage
--enable-fast-install
--enable-libgcc
