--with-aix-soname=svr4
--with-aix-soname=both
--with-sysroot
--with-libssh2
--with-wolfssh
--with-gssapi
--without-brotli
--with-winssl
--without-darwinssl
--with-amissl
--without-schannel
--without-ssl
--without-nss
--with-mbedtls
--with-wolfssl
--without-bearssl
--with-mesalink
--without-winidn
--with-librtmp
--without-ca-path
--without-libmetalink
--without-ngtcp2
--with-nghttp3
--with-zsh-functions-dir
--without-fish-functions-dir
--disable-largefile
--disable-libtool-lock
--enable-silent-rules
--disable-debug
--disable-optimize
--enable-warnings
--disable-curldebug
--disable-symbol-hiding
--enable-maintainer-mode
--enable-ares
--enable-dependency-tracking
--disable-http
--enable-file
--disable-proxy
--enable-dict
--enable-telnet
--enable-tftp
--disable-imap
--disable-smtp
--enable-gopher
--disable-ipv6
--disable-versioned-symbols
--enable-pthreads
--enable-verbose
--enable-crypto-auth
--disable-ntlm-wb
--disable-tls-srp
--disable-cookies
--disable-socketpair
--enable-doh
--enable-mime
--enable-dateparse
--enable-netrc
--disable-progress-meter
--enable-dnsshuffle
--enable-code-coverage
