--with-aix-soname=svr4
--with-aix-soname=both
--with-gnu-ld
--with-ldap-lib=ldap
--with-egd-socket
--with-random
--with-wolfssh
--with-gssapi-includes=/usr/include
--with-gssapi-libs
--with-gssapi
--with-zlib
--with-brotli
--without-zstd
--without-default-ssl-backend
--with-winssl
--with-darwinssl
--without-amissl
--with-secure-transport
--without-ssl
--without-gnutls
--without-nss
--without-mbedtls
-without-wolfssl
--with-bearssl
--without-librtmp
--without-ca-fallback
--without-ca-bundle
--without-libmetalink
--without-nghttp2
--without-ngtcp2
--with-nghttp3
--with-zsh-functions-dir
--without-libgsasl
--without-libpsl
--disable-rt
--disable-libtool-lock
--disable-silent-rules
--enable-debug
--enable-optimize
--enable-curldebug
--disable-symbol-hiding
--enable-maintainer-mode
--enable-ares
--enable-ech
--enable-dependency-tracking
--disable-ftp
--enable-file
--disable-ldap
--enable-ldaps
--disable-rtsp
--disable-proxy
--disable-dict
--enable-telnet
--enable-tftp
--disable-smtp
--enable-gopher
--disable-mqtt
--disable-manual
--enable-ipv6
--disable-openssl-auto-load-config
--enable-versioned-symbols
--disable-threaded-resolver
--enable-crypto-auth
--enable-ntlm-wb
--enable-tls-srp
--enable-unix-sockets
--disable-cookies
--enable-socketpair
--disable-doh
--enable-netrc
--disable-progress-meter
--enable-dnsshuffle
--disable-get-easy-options
--disable-alt-svc
--enable-hsts
--enable-code-coverage
--enable-fast-install
--enable-libgcc
