--with-aix-soname=aix
--with-aix-soname=both
--with-ldap-lib=ldap
--with-lber-lib=lber
--with-egd-socket
--with-libssh2
--with-libssh
--with-wolfssh
--with-default-ssl-backend=openssl
--without-winssl
--without-darwinssl
--without-amissl
--with-secure-transport
--with-ssl
--without-gnutls
--without-nss
--without-mbedtls
--with-bearssl
--without-mesalink
--with-winidn
--without-librtmp
--with-ca-fallback
--without-libmetalink
--with-nghttp2
--with-ngtcp2
--with-nghttp3
--without-zsh-functions-dir
--without-fish-functions-dir
--without-libgsasl
--enable-silent-rules
--disable-debug
--disable-optimize
--disable-warnings
--enable-curldebug
--enable-symbol-hiding
--disable-hidden-symbols
--enable-ares
--disable-ech
--enable-dependency-tracking
--enable-http
--enable-ftp
--disable-ldap
--disable-ldaps
--enable-rtsp
--enable-proxy
--enable-dict
--disable-telnet
--enable-tftp
--disable-pop3
--disable-imap
--enable-smb
--enable-smtp
--enable-gopher
--disable-libcurl-option
--enable-ipv6
--disable-openssl-auto-load-config
--disable-versioned-symbols
--disable-threaded-resolver
--enable-verbose
--enable-tls-srp
--enable-unix-sockets
--disable-socketpair
--disable-http-auth
--enable-doh
--disable-mime
--enable-netrc
--enable-progress-meter
--enable-alt-svc
--enable-fast-install
--enable-libgcc
