--with-aix-soname=aix
--with-aix-soname=svr4
--with-sysroot
--with-lber-lib=lber
--with-egd-socket
--with-libssh2
--with-libssh
--with-wolfssh
--with-zlib
--without-brotli
--without-winssl
--with-darwinssl
--without-ssl
--without-gnutls
--with-nss
-without-wolfssl
--with-bearssl
--without-ca-path
--with-libmetalink
--with-ngtcp2
--with-nghttp3
--with-zsh-functions-dir
--with-fish-functions-dir
--without-libpsl
--disable-largefile
--enable-silent-rules
--disable-debug
--enable-optimize
--disable-warnings
--disable-curldebug
--enable-symbol-hiding
--disable-ares
--enable-ech
--enable-http
--enable-ftp
--disable-ldaps
--enable-rtsp
--disable-proxy
--disable-dict
--enable-tftp
--enable-imap
--enable-smb
--enable-smtp
--disable-gopher
--disable-mqtt
--enable-manual
--disable-libcurl-option
--disable-ipv6
--disable-openssl-auto-load-config
--enable-pthreads
--enable-verbose
--enable-crypto-auth
--disable-ntlm-wb
--enable-tls-srp
--enable-unix-sockets
--disable-cookies
--disable-http-auth
--enable-mime
--enable-dateparse
--enable-dnsshuffle
--disable-get-easy-options
--enable-alt-svc
--enable-hidden-symbols
--enable-code-coverage
--enable-fast-install
--enable-libgcc
