--without-zlib
--without-brotli
--without-zstd
--without-default-ssl-backend
--without-ssl
--without-gnutls
--without-mbedtls
--without-nss
--without-ca-bundle
--without-ca-path
--without-ca-fallback
--without-libpsl
--without-libgsasl
--without-libmetalink
--without-librtmp
--without-winidn
--without-libidn2
--without-nghttp2
--without-zsh-functions-dir
--without-fh-functions-dir