--without-brotli
--without-zstd
--without-default-ssl-backend
--without-gnutls
--without-mbedtls
--without-nss
--without-ca-bundle
--without-ca-path
--without-ca-fallback
--without-libpsl
--without-libgsasl
--without-libmetalink
--without-librtmp
--without-winidn
--without-libidn2
--without-nghttp2
--without-zsh-functions-dir
--without-fish-functions-dir
--disable-silent-rules
--disable-debug
--disable-optimize
--disable-warnings
--disable-werror
--disable-curldebug
--disable-symbol-hiding
--disable-hidden-symbols
--disable-ares
--disable-rt
--disable-ech
--disable-dependency-tracking
--disable-largefile
--disable-libtool-lock
--disable-http
--disable-ftp
--disable-file
--disable-ldap
--disable-ldaps
--disable-rtsp
--disable-proxy
--disable-dict
--disable-telnet
--disable-tftp
--disable-pop3
--disable-imap
--disable-smb
--disable-smtp
--disable-mqtt
--disable-manual
--disable-libcurl-option
--disable-ipv6
--disable-openssl-auto-load-config
--disable-versioned-symbols
--disable-threaded-resolver
--disable-pthreads
--disable-verbose
--disable-sspi
--disable-ntlm-wb
--disable-tls-srp
--disable-unix-sockets
--disable-cookies
--disable-socketpair
--disable-http-auth
--disable-mime
--disable-dateparse
--disable-netrc
--disable-progress-meter
--disable-dnsshuffle
--disable-get-easy-options
--disable-alt-svc
--disable-hsts